**Title:** *Data Science Notebook*

**Introduction:**

*This notebook explores various aspects of Data Science, including programming languages, libraries, tools, and basic arithmetic expressions. We will cover essential concepts and provide examples to get started on the Data Science journey*

**Data Science Languages:**

- Python
- R
- Julia
- SQL

**Data Science Libraries:**

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch

**Data Science Tools:**

| Category       | Tools              |
|----------------|--------------------|
| Data Analysis  | Pandas, NumPy      |
| Data Visualization | Matplotlib, Seaborn |
| Machine Learning  | Scikit-learn, TensorFlow, PyTorch |
| Database Management | SQL, SQLite     |

**Arithmetic Expression Examples:**

Arithmetic expressions involve basic mathematical operations like addition, subtraction, multiplication, and division. Let's take a look at some examples.

In [1]:
# Multiplication and Addition
x = 5
y = 3
multiplication_result = x * y
addition_result = x + y
print("Multiplication Result:", multiplication_result)
print("Addition Result:", addition_result)

Multiplication Result: 15
Addition Result: 8

In [2]:
# Convert Minutes to Hours
minutes = 150
hours = minutes / 60
print(minutes, "minutes is equal to", hours, "hours")

150 minutes is equal to 2.5 hours

**Objectives**

In this notebook, we aim to:

1. Explore various programming languages used in data science.
2. Familiarize ourselves with essential data science libraries.
3. Understand and work with common data science tools.
4. Learn about basic arithmetic expressions and their usage.

**Author**

This notebook was created by Varad Tambe.